header{
 background-color: #B983FF;
 text-align: center;
}

nav{
    background-color: #94B3FD;
}

footer{
    background-color :#94DAFF;
    text-align: center;
}

main{
    display: grid;
    grid-template-columns:auto
    background-color  #94DAFF
}

aside{
    text-align: right;
    
}